.topnav {
    background-color: #FFFCF5;
    overflow: hidden;
    width: 100%;
    position: fixed;
    box-shadow: 0 1px 4px 0 #E7E6DD;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFCF5;
}

.topnav a {
    float: left;
    color: #210706;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #895159;
    color: #FFFCF5;
}

.epiloguetext {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    position: relative;
    width: 90%;
    height: 80%;
    max-width: 90%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px #E7E6DD;
    background: #E7E6DD;
}

.inner-carousel {
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-height: 70vh;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide p {
    font-size 18px;
    color: #210706;
    margin: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #895159;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 20%;
    transition: 0.3s;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: #210706;
}